<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- 1. Gỡ bỏ WebDAVModule để không chặn các phương thức HTTP DELETE, PUT, OPTIONS của REST API -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      
      <!-- 2. Cấu hình Handler AspNetCoreModuleV2 -->
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <!-- 3. Khởi chạy .NET 8 App in-process -->
      <aspNetCore processPath="dotnet" arguments=".\ChepKinh.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <!-- 4. Security & CORS Headers bổ trợ trên IIS -->
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
